#index_lines.span-23
  .box
    .title-little ¿Quienes somos?
    
    %p
      = "Somos #{ link_to 'Miguel Angel Martinez', 'http://www.lacoctelera.com/n3uro5i5' }, #{ link_to 'Juan Gallego Galisteo', 'http://juan.gg/blog/' } y #{ link_to 'José Galisteo Ruiz', 'http://ceritium.net/' }. Todos estudiantes de ingeniería técnica informática en la universidad de Sevilla, aunque a algunos nos queda más que a otros para terminar."
    %p
      También formamos parte del equipo de 
      = link_to "Flowers In Space", "http://flowersinspace.com"
      en donde nos dedicamos a crear aplicaciones web con metodologías ágiles y siempre en busca de los últimos métodos.
    %p
      Esta aplicación junto a 
      = link_to "EbayMe", "http://ebay.flowersinspace.com"
      han sido desarrolladas conjuntamente en una semana entre proyectos y exámenes con el fin de presentarlos al concurso de 
      = link_to "Mashups", "http://es.wikipedia.org/wiki/Mashup_(aplicaci%C3%B3n_web_h%C3%ADbrida)"
      de
      = link_to "Open Movil Forum.", "http://open.movilforum.com/"
  
      Podríamos haber empezado antes pero leer nuestros feeds después de las vacaciones nos tuvo bastante ocupados.
    %p
      Creemos que esta aplicación puede serte útil porque a nosotros nos lo es, y a pesar de ser un poco frikis creemos que a nadie le gusta tener que esperar el autobús. 
    %p
      Actualmente solo hay unas pocas lineas y paradas disponibles, pero al ser software libre tu puedes currarte las lineas que necesites y como no, compartirlas. Al igual que las lineas quizás te interese crear tu propio sistema de avisos. Por eso desde aquí te animamos a que te 
      = link_to "descargues", "http://github.com/N3uro5i5/ohmybus/tree/master"
      la aplicación y a pasarte por el 
      = link_to "Wiki", "http://github.com/N3uro5i5/ohmybus/tree/master"
      para más información.
      
    %p
      Por último nos gustaría aclarar que no tenemos ninguna relación con Tussam.